*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.flex-center{
    max-width: 1000px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.flex-center h1{
    color: #fff;
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
.flex-center h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .6s infinite;
}
@keyframes pisca{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}